<div class="dashboard-container">
    <nav class="sidebar">
        <h3>Cargar Imagen</h3>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <p *ngIf="fileName">Archivo seleccionado: {{ fileName }}</p>

        <button (click)="onPredict()" [disabled]="!imageSrc" class="btn-predict" type="button">
            Predicción
        </button>

        <button (click)="onReset()" class="btn-reset" type="button">
            Reiniciar
        </button>

        <button (click)="logout()" class="btn-logout" type="button">
  Cerrar sesión
</button>
    </nav>

    <main class="content">
        <h1>Reconocimiento Automático de Productos</h1>
        <p class="descripcion">
  Por favor, selecciona una imagen del producto desde el panel lateral izquierdo y haz clic en <strong>“Predicción”</strong> para obtener automáticamente sus detalles.
</p>
        <p *ngIf="imageSrc && !resultado && !cargando">✅ Carga exitosa, esperando a predecir...</p>


        <div class="image-preview-container">
  <img *ngIf="imageSrc" [src]="imageSrc" alt="" class="img-preview" />
</div>

        <div class="resultado" *ngIf="resultado.ID && !cargando">
            <h2>📦 Detalles del Producto</h2>
            <div class="ficha-producto">
                <p><strong>ID:</strong> {{ resultado.ID }}</p>
                <p><strong>Nombre:</strong> {{ resultado.Nombre }}</p>
                <p><strong>Descripción:</strong> {{ resultado.Descripcion }}</p>
                <p><strong>Categoría:</strong> {{ resultado.Categoria }}</p>
                <p><strong>Costo:</strong> ${{ resultado.Costo }}</p>
                <p><strong>Stock:</strong> {{ resultado.Stock }} unidades</p>
                <p><strong>Fecha de Caducidad:</strong> {{ resultado.Fecha_Caducidad }}</p>
                
            </div>
        </div>

    </main>
</div>