<div class="dashboard-container">
    <nav class="sidebar">
        <h3>Cargar Imagen</h3>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <p *ngIf="fileName">Archivo seleccionado: {{ fileName }}</p>

        <button (click)="onPredict()" [disabled]="!imageSrc" class="btn-predict" type="button">
            Predicción
        </button>
    </nav>

    <main class="content">
        <h1>Dashboard</h1>
        <p>Contenido principal aquí</p>

        <div class="image-preview-container">
            <img *ngIf="imageSrc" [src]="imageSrc" alt="Imagen cargada" class="img-preview" />
        </div>

        <div class="resultado" *ngIf="resultado.ID && !cargando">
            <h2>📦 Detalles del Producto</h2>
            <div class="ficha-producto">
                <p><strong>ID:</strong> {{ resultado.ID }}</p>
                <p><strong>Nombre:</strong> {{ resultado.Nombre }}</p>
                <p><strong>Descripción:</strong> {{ resultado.Descripcion }}</p>
                <p><strong>Categoría:</strong> {{ resultado.Categoria }}</p>
                <p><strong>Costo:</strong> ${{ resultado.Costo }}</p>
                <p><strong>Stock:</strong> {{ resultado.Stock }} unidades</p>
                <p><strong>Fecha de Caducidad:</strong> {{ resultado.Fecha_Caducidad }}</p>
                
            </div>
        </div>

    </main>
</div>